streamlit
google-auth
google-auth-oauthlib
google-api-python-client
google-auth-httplib2
pandas
gspread
supabase
python-dateutil
graphviz
plotly
pillow
qrcode[pil]
pillow-heif
streamlit-cropper
scipy

